<header class="top-nav">
    <div class="nav-left">
        <NavLink href="/" class="logo">
            <img src="images/logo.png" alt="Bank Blazor Logo" />
            <h1 class="header-text">Bank Blazor</h1>
        </NavLink>
    </div>
    <div class="nav-right">
        <NavLink href="/" class="nav-btn">Home</NavLink>
        <NavLink href="/customer/1" class="nav-btn">My Profile</NavLink>
        <NavLink href="/customers" class="nav-btn">Switch Accounts</NavLink>
    </div>
</header>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private int? currentCustomerId;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

